.fb{
  background:#f4f4f4;
width:320px;
padding:0 0px;
margin:10px 0;
border:solid 6px #e9e8e8;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;  
}

.fb1{
padding:100px;
box-shadow: 2px 1px 3px 2px #888888;
border-radius: 25px;
margin: 50px;


}



